@import url("../main.scss");
.form {
  &__leni {
    color: red;
  }
  &__leni1 {
    width: 30px;
    height: 30px;
    border: 4px solid rgb(212, 124, 0);
    border-radius: 50%;
    cursor: pointer;
  }
  &__img{
    top: 2px;
    left: 1px;
  }
 
}
.completed {
  opacity: 0.5;
}
